@use './animation';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #2d363a;
}

ul {
  list-style: none;
}

li,
a {
  list-style-type: none;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  text-transform: uppercase;
  transition: all .5s ease;
  padding: 15px 0;
  position: relative;

  &.active {
    color: #1e2325;

    &::after {
      width: 100%;
      left: 0;
    }
  }

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 5px;
    left: 50%;
    background-color: #0ab900;
    transition: all .3s ease;
  }
}

main {
  padding-top: 50px;
  background: #f0f3f5;
  width: 100%;
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.line {
  height: 1px;
  background-color: #e8e8e8;
  margin: 16px 0;
}

.router-view-enter-active,
.router-view-leave-active {
  transition: opacity 0.3s ease;
}

.router-view-enter-from,
.router-view-leave-to {
  opacity: 0;
}

.wrapper {
  padding: 10px;
  margin: auto;
  width: 80%;
}

h1 {
  font-weight: 800;
  cursor: default;
}